<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daytime</title>
  </head>
  <body>
    <% if(7 > date && date > 1) {%>
    <h1>Hey it's weekday! it's time to work hard</h1>
    <% } else if(date === 0 || date === 6 ) {%>
    <h1>Hey it's weekend! it's time to have fun</h1>
    <% } %>
  </body>
</html>
